/**
 * Throbber for BankID.
 */
.bankid-throbber-circle {
  animation: bankid-throbber-circle-12 1.2s infinite;
}
.bankid-throbber-circle-1 {
  animation-delay: .1s;
}
.bankid-throbber-circle-2 {
  animation-delay: 1.1s;
}
.bankid-throbber-circle-3 {
  animation-delay: .2s;
}
.bankid-throbber-circle-4 {
  animation-delay: 1s;
}
.bankid-throbber-circle-5 {
  animation-delay: .3s;
}
.bankid-throbber-circle-6 {
  animation-delay: .9s;
}
.bankid-throbber-circle-7 {
  animation-delay: .4s;
}
.bankid-throbber-circle-8 {
  animation-delay: .8s;
}
.bankid-throbber-circle-9 {
  animation-delay: .5s;
}
.bankid-throbber-circle-10 {
  animation-delay: .7s;
}
.bankid-throbber-circle-11 {
  animation-delay: .6s;
}
@keyframes bankid-throbber-circle-12 {
  0%,
  50% {
    animation-timing-function: cubic-bezier(0,1,0,1);
    r: 0;
  }

  10% {
    animation-timing-function: cubic-bezier(.53,0,.61,.73);
    r: 2px;
  }
}
