<div>
  <svg id="bankid-throbber" width="256" height="256" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <circle class="bankid-throbber-circle" cx="12" cy="3" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-1" cx="16.50" cy="4.21" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-2" cx="7.50" cy="4.21" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-3" cx="19.79" cy="7.50" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-4" cx="4.21" cy="7.50" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-5" cx="21.00" cy="12.00" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-6" cx="3.00" cy="12.00" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-7" cx="19.79" cy="16.50" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-8" cx="4.21" cy="16.50" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-9" cx="16.50" cy="19.79" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-10" cx="7.50" cy="19.79" r="0"/>
    <circle class="bankid-throbber-circle bankid-throbber-circle-11" cx="12" cy="21" r="0"/>
  </svg>
  <p id="bankid-status-message"></p>
  <canvas id="qrcode" class="visually-hidden"></canvas>
  <p id="bankid-app-link"></p>
</div>